dataclasses>=0.6
tqdm==4.31.1
databricks-cli==0.8.6
python==3.6.8
lightgbm==2.2.1
pytorch-cpu>=1.0.0
seaborn>=0.8.1
mock==2.0.0
scipy>=1.0.0
pytest>=3.6.4
pyspark==2.3.1
azure-storage>=0.36.0
gitpython>=2.1.8
tensorflow-gpu==1.12.0
black>=18.6b4
pydocumentdb>=2.3.3
pip>=19.0.3
tensorflow==1.12.0
nvidia-ml-py3>=7.352.0
numpy>=1.13.3
nni==0.5.2.1.1
idna==2.7
pytorch>=1.0.0
pyarrow>=0.8.0
matplotlib>=2.2.2
hyperopt==0.1.1
fastai==1.0.46
scikit-surprise>=1.0.6
pymanopt==0.2.3
numba>=0.38.1
papermill==0.18.2
fastparquet>=0.1.6
jupyter>=1.0.0
memory-profiler>=0.54.0
ipykernel>=4.6.1
scikit-learn==0.19.1
pandas>=0.23.4
category_encoders>=1.3.0
dask>=0.17.1
locustio==0.11.0
bottleneck==1.2.1
pymongo>=3.6.1
azureml-sdk[notebooks,tensorboard]==1.0.18
swig==3.0.12